body { margin: 0; overflow-x: hidden; overflow-y: scroll; }
body.nav-active { overflow: hidden; }
h1,h2,h3,h4,h5 { margin: 0; font-weight: 300; }
ul, ol { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; }
img { max-width: 100%; vertical-align: bottom; }

.dont-break { display: inline-block; }

/* --- form styling --- */
input, input:focus,
textarea, textarea:focus { box-shadow: none; outline: none; }

input,
textarea { font-family: helvetica neue, serif; font-size: 12px; border: 1px solid #b7dce8; border-radius: 2px;
	transition: border-color .25s;
	-webkit-appearance: none;
	appearance: none;
}

.has-error input,
input.interacted:invalid,
input:focus:invalid,
.has-error textarea,
textarea.interacted:invalid,
textarea:focus:invalid { border-color: rgba(255,0,0,.75); }

input:focus:valid,
textarea:focus:valid { border-color: rgba(39,213,16,.75); }


::-webkit-input-placeholder { opacity: 1; color: rgba(0,0,0,1);
	transition: color .25s;
}
:-moz-placeholder { opacity: 1; color: rgba(0,0,0,1);
	transition: color .25s;
}
::-moz-placeholder { opacity: 1; color: rgba(0,0,0,1);
	transition: color .25s;
}
:-ms-input-placeholder { opacity: 1; color: rgba(0,0,0,1);
	transition: color .25s;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { color: rgba(0,0,0,.5); }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { color: rgba(0,0,0,.5); }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { color: rgba(0,0,0,.5); }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { color: rgba(0,0,0,.5); }

input:invalid:focus::-webkit-input-placeholder,
textarea:invalid:focus::-webkit-input-placeholder { color: rgba(255,0,0,.5); }
input:invalid:focus:-moz-placeholder,
textarea:invalid:focus:-moz-placeholder { color: rgba(255,0,0,.5); }
input:invalid:focus::-moz-placeholder,
textarea:invalid:focus::-moz-placeholder { color: rgba(255,0,0,.5); }
input:invalid:focus:-ms-input-placeholder,
textarea:invalid:focus:-ms-input-placeholder { color: rgba(255,0,0,.5); }

input:valid:focus::-webkit-input-placeholder,
textarea:valid:focus::-webkit-input-placeholder { color: rgba(39,213,16,.5); }
input:valid:focus:-moz-placeholder,
textarea:valid:focus:-moz-placeholder { color: rgba(39,213,16,.5); }
input:valid:focus::-moz-placeholder,
textarea:valid:focus::-moz-placeholder { color: rgba(39,213,16,.5); }
input:valid:focus:-ms-input-placeholder,
textarea:valid:focus:-ms-input-placeholder { color: rgba(39,213,16,.5); }



